<tr>
    <td style="text-align:left" class="blue">医院名称</td>
    <td><input class="form-control ace" id="hospital" name="hospital" type="text" 
        title="请填写正确医院名称" placeholder="请填写正确医院名称" required/></td>
    </tr>
<tr>
    <td style="text-align:left;" class="blue">填表专家姓名</td>
    <td><input class="form-control ace" id="expert" name="expert" type="text" required/></td>
    </tr>
<tr>
    <td style="text-align:left;" class="blue">职称</td>
    <td style="color:black;font-size:14px;text-align:left">
        <input type="radio" value="主任医师" name="title" required/>主任医师
        <input type="radio" value="副主任医师" name="title"/>副主任医师
        <input type="radio" value="主治医师" name="title"/>主治医师
    </td>
    </tr>
<style>
    .blank_row
{
    height: 15px !important; /* overwrites any other rules */
    background-color: rgb(231, 233, 242);
}
</style>  
<tr class="blank_row">
    <td colspan="3">以下为患者信息</td>
</tr> 
<tr>
    <td style="text-align:left;" class="blue">患者姓名</td>
    <td><input class="form-control"  type="text" name="name" id="name" required/></td>
    </tr>
<tr>
    <td style="text-align:left;" class="blue">电话</td>
    <td><input class="form-control"  type="text" name="telephone" id="telephone" required/></td>
    </tr>