<div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                            <!-- <input type="hidden" id="person-results"/> -->
                                        <p><h4 style="color:#BC1717">以下请在医生指导下填写:</h4>
                                            <hr>
                                        <input type="hidden" class="person" name="person" id="person-results"/>
                                        <p><h5 class="header blue">近期治疗</h5>
                                        <label>经治疗<input id="last_result" name="last_result" type="number" value="" style="width:65px; border:0; border-bottom:1px solid #000; text-align:center;"/>天后，阴道流血停止</label>
                                        <p><h5 class="header blue">远期治疗</h5>
                                        <label>经治疗<input id="far_result" name="far_result" type="number" value="" style="width:65px; border:0; border-bottom:1px solid #000; text-align:center;"/>天后，月经周期恢复正常.</label>
                                    </div>
                                </div>
                    </div>