<div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <p><h4 style="color:#BC1717">以下请在医生指导下填写:</h4>
                                            <hr>
                                        <input type="hidden" class="person" name="person" id="person-cure"/>
                                        <p><h4 style="color:#BC1717">中西医结合治疗:</h4>
                                        <label><input type="radio" value="是" name="to_cure"/>是</label>
                                        <label><input type="radio" value="否" name="to_cure"/>否</label>
                                        <hr>
                                        <p><h4 style="color:#BC1717">一、中医治疗</h4>
                                        <p><h5 style="color:blue">1、治法</h5>
                                        <p><h6 style="color:#871F78">(1)虚证治法:</h6>
                                        <label><input name="xuzheng_one" type="radio" value="补脾益气,养血固冲调经"/>补脾益气,养血固冲调经</label>
                                        <label><input name="xuzheng_one" type="radio" value="补益肾气,养血固冲调经"/>补益肾气,养血固冲调经</label>
                                        <label><input name="xuzheng_one" type="radio" value="补血养营,益气调经"/>补血养营,益气调经</label>
                                        <label><input name="xuzheng_one" type="radio" value="补气升提,固冲止血调经"/>补气升提,固冲止血调经</label>
                                        <label><input name="xuzheng_one" type="radio" value="养阴清热,凉血调经"/>养阴清热,凉血调经</label>
                                        <label><input name="xuzheng_one" type="radio" value="滋肾益阴,清热固冲止血"/>滋肾益阴,清热固冲止血</label>
                                        <label><input name="xuzheng_one" type="radio" value="温肾助阳,固冲止血"/>温肾助阳,固冲止血</label>
                                        <br>
                                        <label>其他:<input type="text" id="xuzheng_qita" name="xuzheng_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(2)实证治法:</h6>
                                        <label><input name="shizheng_one" type="radio" value="温经散寒,活血调经"/>温经散寒,活血调经</label>
                                        <label><input name="shizheng_one" type="radio" value="清热降火,凉血调经"/>清热降火,凉血调经</label>
                                        <label><input name="shizheng_one" type="radio" value="燥湿化痰,活血调经"/>燥湿化痰,活血调经</label>
                                        <label><input name="shizheng_one" type="radio" value="清热凉血,固冲止血"/>清热凉血,固冲止血</label>
                                        <label><input name="shizheng_one" type="radio" value="疏肝理气,活血调经"/>疏肝理气,活血调经</label>
                                        <label><input name="shizheng_one" type="radio" value="活血化瘀,固冲止血调经"/>活血化瘀,固冲止血调经</label>
                                        <label><input name="shizheng_one" type="radio" value="清热除湿,凉血止血"/>清热除湿,凉血止血</label>
                                        <label><input name="shizheng_one" type="radio" value="清肝解郁,凉血调经"/>清肝解郁,凉血调经</label>
                                        <br>
                                        <label>其他:<input type="text" id="shizheng_qita" name="shizheng_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(3)虚实夹杂证:</h6>
                                        <label><input name="xushi_one" type="radio" value="养阴清热,凉血调经"/>养阴清热,凉血调经</label>
                                        <label><input name="xushi_one" type="radio" value="清热降火,凉血调经"/>清热降火,凉血调经</label>
                                        <br>
                                        <label>其他:<input type="text" id="xushi_qita" name="xushi_qita" value=""/></label>
                    
                                        <p><h5 style="color:blue">2、代表方</h5>
                                        <p><h6 style="color:#871F78">(1)虚证代表方:</h6>
                                        <label><input name="pre_xu_yiqi" type="checkbox" value="true"/>补中益气汤</label>
                                        <label><input name="pre_xu_guyin" type="checkbox" value="true"/>固阴煎</label>
                                        <label><input name="pre_xu_yuanjian" type="checkbox" value="true"/>大补元煎</label>
                                        <label><input name="pre_xu_yangrong" type="checkbox" value="true"/>人参养荣汤</label>
                                        <label><input name="pre_xu_guipi" type="checkbox" value="true"/>归脾汤</label>
                                        <label><input name="pre_xu_anchong" type="checkbox" value="true"/>安冲汤</label>
                                        <label><input name="pre_xu_jianyuan" type="checkbox" value="true"/>举元煎</label>
                                        <label><input name="pre_xu_qingxue" type="checkbox" value="true"/>清血养阴汤</label>
                                        <label><input name="pre_xu_liangdi" type="checkbox" value="true"/>两地汤合二至丸</label>
                                        <label><input name="pre_xu_jiajian" type="checkbox" value="true"/>加减一阴煎</label>
                                        <label><input name="pre_xu_liuwei" type="checkbox" value="true"/>二至丸合六味地黄丸</label>
                                        <label><input name="pre_xu_zuogui" type="checkbox" value="true"/>左归丸合二至丸</label>
                                        <label><input name="pre_xu_yougui" type="checkbox" value="true"/>右归丸</label>
                                        <label><input name="pre_xu_guchong" type="checkbox" value="true"/>固冲汤</label>
                                        <label><input name="pre_xu_guben" type="checkbox" value="true"/>固本止崩汤</label>
                    
                                        <label><input name="pre_xu_baoyin" type="checkbox" value="true"/>保阴煎</label>
                                        
                                        <br>
                                        <label>其他:<input type="text" id="pre_xu_qita" name="pre_xu_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(2)实证代表方:</h6>
                                        <label><input name="pre_shi_xiaoyao" type="checkbox" value="true"/>逍遥散</label>
                                        <label><input name="pre_shi_qingjing" type="checkbox" value="true"/>清经散</label>
                                        <label><input name="pre_shi_wenjing" type="checkbox" value="true"/>温经汤(《妇人大全良方》)</label>
                                        <label><input name="pre_shi_taohong" type="checkbox" value="true"/>桃红四物汤</label>
                                        <label><input name="pre_shi_siwu" type="checkbox" value="true"/>四物汤合失笑散</label>
                                        <label><input name="pre_shi_cangfu" type="checkbox" value="true"/>苍附导痰丸</label>
                                        <label><input name="pre_shi_liangdi" type="checkbox" value="true"/>两地汤合二至丸</label>
                                        <label><input name="pre_shi_zongpu" type="checkbox" value="true"/>棕蒲散</label>
                                        <label><input name="pre_shi_qinggan" type="checkbox" value="true"/>清肝止淋汤</label>
                                        <label><input name="pre_shi_zuyu" type="checkbox" value="true"/>逐瘀止血汤</label>
                                        <label><input name="pre_shi_qingre" type="checkbox" value="true"/>清热固经汤</label>
                                        <label><input name="pre_shi_zhibeng" type="checkbox" value="true"/>逐瘀止崩汤</label>
                    
                                        <label><input name="pre_shi_danzhi" type="checkbox" value="true"/>丹栀逍遥散</label>
                                        <label><input name="pre_shi_longdan" type="checkbox" value="true"/>龙胆泻肝汤</label>
                    
                                        <br>
                                        <label>其他:<input type="text" id="pre_shi_qita" name="pre_shi_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(3)虚实夹杂证代表方:</h6>
                                        <label><input name="pre_xushi_liangdi" type="checkbox" value="true"/>两地汤</label>
                                        <label><input name="pre_xushi_qingjing" type="checkbox" value="true"/>清经散</label>
                                        <br>
                                        <label>其他:<input type="text" id="pre_xushi_qita" name="pre_xushi_qita" value=""/></label>
                    
                                        <p><h5 style="color:blue">3、中成药</h5>
                                        <p><h6 style="color:#871F78">(1)虚证中成药:</h6>
                                        <label><input name="zhong_xu_buzhong" type="checkbox" value="true"/>补中益气颗粒</label>
                                        <label><input name="zhong_xu_renshen" type="checkbox" value="true"/>人参归脾丸</label>
                                        <label><input name="zhong_xu_zhixue" type="checkbox" value="true"/>葆宫止血颗粒</label>
                                        <label><input name="zhong_xu_ankun" type="checkbox" value="true"/>安坤颗粒</label>
                                        <label><input name="zhong_xu_fufang" type="checkbox" value="true"/>复方阿胶浆</label>
                                        <label><input name="zhong_xu_gujing" type="checkbox" value="true"/>固经丸</label>
                                        <label><input name="zhong_xu_ejiao" type="checkbox" value="true"/>阿胶当归合剂</label>
                                        <label><input name="zhong_xu_liuwei" type="checkbox" value="true"/>六味地黄丸</label>
                                        <label><input name="zhong_xu_erzhi" type="checkbox" value="true"/>二至丸</label>
                                        <label><input name="zhong_xu_fuke" type="checkbox" value="true"/>妇科止血灵片</label>
                                        <label><input name="zhong_xu_wuzi" type="checkbox" value="true"/>五子衍宗丸</label>
                                        <br>
                                        <label>其他:<input type="text" id="zhong_xu_qita" name="zhong_xu_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(2)实证中成药:</h6>
                                        <label><input name="zhong_shi_xuening" type="checkbox" value="true"/>宫血宁胶囊</label>
                                        <label><input name="zhong_shi_duanxue" type="checkbox" value="true"/>断血流片</label>
                                        <label><input name="zhong_shi_jiawei" type="checkbox" value="true"/>加味逍遥服液/丸</label>
                                        <label><input name="zhong_shi_qianzhi" type="checkbox" value="true"/>茜芷胶囊</label>
                                        <label><input name="zhong_shi_yunnan" type="checkbox" value="true"/>云南白药</label>
                                        <label><input name="zhong_shi_gongning" type="checkbox" value="true"/>宫宁颗粒</label>
                                        <label><input name="zhong_shi_zhixue" type="checkbox" value="true"/>葆宫止血颗粒</label>
                                        <label><input name="zhong_shi_xiaoyao" type="checkbox" value="true"/>逍遥丸</label>
                                        <label><input name="zhong_shi_kunning" type="checkbox" value="true"/>坤宁口服液</label>
                                        <br>
                                        <label>其他:<input type="text" id="zhong_shi_qita" name="zhong_shi_qita" value=""/></label>
                                        
                                        <p><h6 style="color:#871F78">(3)虚实夹杂证中成药:</h6>
                                        <label><input name="zhong_xushi_zhixue" type="checkbox" value="true"/>葆宫止血颗粒</label>
                                        <label><input name="zhong_xushi_gujing" type="checkbox" value="true"/>固经丸</label>
                                        <label><input name="zhong_xushi_nvjin" type="checkbox" value="true"/>女金胶囊</label>
                                        <label><input name="zhong_xushi_zhibo" type="checkbox" value="true"/>知柏地黄丸</label>
                                        <br>
                                        <label>其他:<input type="text" id="zhong_xushi_qita" name="zhong_xushi_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(4)中医其他治疗:</h6>
                                            <label><input name="zhongyi_body" type="checkbox" value="true"/>体针</label>
                                            <label><input name="zhongyi_ears" type="checkbox" value="true"/>耳针</label>
                                            <label><input name="zhongyi_belly" type="checkbox" value="true"/>腹针</label>
                                            <label><input name="zhongyi_ai" type="checkbox" value="true"/>艾灸</label>
                                            <label><input name="zhongyi_yadou" type="checkbox" value="true"/>耳穴压豆</label>
                                            <label><input name="zhongyi_zhushe" type="checkbox" value="true"/>穴位注射</label>
                                            <label><input name="zhongyi_futie" type="checkbox" value="true"/>穴位敷贴</label>
                                            <br>
                                            <label>其他:<input type="text" id="zhongyi_qita" name="zhongyi_qita" value=""/></label>
                                            
                                        
                                        <hr>
                                        <p><h4 style="color:#BC1717">二、西医治疗</h4>
                    
                                        <p><h5 style="color:blue">1、止血治疗</h5>
                                        <p><h6 style="color:#871F78">(1)性激素:</h6>
                                        <label><input name="hormone_wu" type="checkbox" value="true"/>无</label>
                                        <!-- <label><input name="hormone_yun" type="checkbox" value="true"/>孕激素</label> -->
                                        <br>
                                        <label>孕激素-></label>
                                            <label><input name="yun_jizhu" type="checkbox" value="true"/>肌注黄体酮</label>
                                            <label><input name="yun_diqu" type="checkbox" value="true"/>地屈孕酮</label>
                                            <label><input name="yun_weihua" type="checkbox" value="true"/>微粒化黄体酮胶囊胶囊</label>
                                            <label><input name="yun_yuntong" type="checkbox" value="true"/>甲羟孕酮</label>
                                            <label>其他:<input type="text" id="yun_qita" name="yun_qita" value=""/></label>
                                        <br>
                                        <!-- <label><input name="hormone_ci" type="checkbox" value="true"/>雌激素</label> -->
                                        <label>雌激素-></label>
                                            <label><input name="ci_benjia" type="checkbox" value="true"/>苯甲酸雌二醇</label>
                                            <label><input name="ci_jieheji" type="checkbox" value="true"/>结合雌激素（针剂）</label>
                                            <label><input name="ci_jiehepian" type="checkbox" value="true"/>结合雌激素（片剂）</label>
                                            <label>其他:<input type="text" id="ci_qita" name="ci_qita" value=""/></label>
                                        <br>    
                                        <!-- <label><input name="hormone_kou" type="checkbox" value="true"/>复方短效口服避孕药</label> -->
                                        <label>复方短效口服避孕药-></label>
                                            <label><input name="kou_chunhuan" type="checkbox" value="true"/>炔雌醇环丙孕酮片</label>
                                            <label><input name="kou_quluoo" type="checkbox" value="true"/>屈螺酮炔雌醇片</label>
                                            <label><input name="kou_quluot" type="checkbox" value="true"/>屈螺酮炔雌醇片Ⅱ</label>
                                            <label><input name="kou_quyang" type="checkbox" value="true"/>去氧孕烯炔雌醇片</label>
                                            <label><input name="kou_fufang" type="checkbox" value="true"/>复方孕二烯酮片</label>
                                            <label>其他:<input type="text" id="kou_qita" name="kou_qita" value=""/></label>
                                        <br>
                                        <label><input name="hormone_xiong" type="checkbox" value="true"/>雄激素</label>
                                        <br>
                                        <label><input name="hormone_gn" type="checkbox" value="true"/>GnRH-α</label>
                                        <br>
                                        <label>其他:<input type="text" id="hormone_qita" name="hormone_qita" value=""/></label>
                                        <p><h6 style="color:#871F78">(2)刮宫术:</h6>
                                        <label><input type="radio" value="是" name="guagongshu"/>是</label>
                                        <label><input type="radio" value="否" name="guagongshu"/>否</label>
                    
                                        <p><h5 style="color:blue">2、调周治疗</h5>
                                        <label><input name="zhou_wu" type="checkbox" value="true"/>无</label>
                                        <label><input name="zhou_yun" type="checkbox" value="true"/>孕激素</label>
                                        <label><input name="zhou_kou" type="checkbox" value="true"/>口服避孕药</label>
                                        <label><input name="zhou_ci" type="checkbox" value="true"/>雌、孕激素序贯法</label>
                                        <label><input name="zhou_zuo" type="checkbox" value="true"/>左炔诺孕酮宫内缓释系统</label>
                                        <br>
                                        <label>其他:<input type="text" id="zhou_qita" name="zhou_qita" value=""/></label>
                    
                                        <p><h5 style="color:blue">3、促排卵</h5>
                                        <label><input name="cu_wu" type="checkbox" value="true"/>无</label>
                                        <label><input name="cu_mifen" type="checkbox" value="true"/>氯米芬</label>
                                        <label><input name="cu_rongmao" type="checkbox" value="true"/>人绒毛膜促性腺激素(hCG)</label>
                                        <label><input name="cu_niao" type="checkbox" value="true"/>尿促性素(hMG)</label>
                                        <label><input name="cu_luan" type="checkbox" value="true"/>卵泡期使用低剂量雌激素</label>
                                        <label><input name="cu_lai" type="checkbox" value="true"/>来曲唑</label>
                                        <label><input name="cu_cu" type="checkbox" value="true"/>促卵泡生成激素(FSH)</label>
                                        <br>
                                        <label>其他:<input type="text" id="cu_qita" name="cu_qita" value=""/></label>
                    
                                        <p><h5 style="color:blue">4、手术治疗</h5>
                                        <label><input name="shu_wu" type="checkbox" value="true"/>无</label>
                                        <label><input name="shu_neimo" type="checkbox" value="true"/>子宫内膜去除术</label>
                                        <label><input name="shu_qiechu" type="checkbox" value="true"/>子宫切除术</label>
                                        <br>
                                        <label>其他:<input type="text" id="shu_qita" name="shu_qita" value=""/></label>
                    
                                        <p><h5 style="color:blue">5、其他治疗</h5>
                                        <label>有<input type="text" id="other_cure" name="other_cure" value=""/></label>
                                        <label><input name="other_cure_wu" type="checkbox" value="true"/>无</label>
                                        
                                    </div>
                                </div>
                    </div>