<div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                            <p><h4 style="color:#BC1717">以下请在医生指导下填写:</h4>
                                                <hr>
                                        <input type="hidden" class="person" name="person" id="person-cc"/>
                                        <p><h4 style="color:#BC1717">一、中医诊断</h4>
                    
                                        <p><h5 style="color:blue">1、诊断结果:</h5>
                                        <label><input name="yuejing_zhenduan" type="radio" value="月经先期"/>月经先期</label>
                                        <label><input name="yuejing_zhenduan" type="radio" value="月经过多"/>月经过多</label>
                                        <label><input name="yuejing_zhenduan" type="radio" value="经期延长"/>经期延长</label>
                                        <label><input name="yuejing_zhenduan" type="radio" value="经间期出血"/>经间期出血</label>
                                        <label><input name="yuejing_zhenduan" type="radio" value="崩漏"/>崩漏</label>
                    
                                        <p><h5 style="color:blue">2、虚证诊断:</h5>
                                        <label><input name="xuzheng" type="radio" value="肾气虚证"/>肾气虚证</label>
                                        <label><input name="xuzheng" type="radio" value="肾阴虚证"/>肾阴虚证</label>
                                        <label><input name="xuzheng" type="radio" value="肾阳虚证"/>肾阳虚证</label>
                                        <label><input name="xuzheng" type="radio" value="气虚证"/>气虚证</label>
                                        <label><input name="xuzheng" type="radio" value="血虚证"/>血虚证</label>
                                        <label><input name="xuzheng" type="radio" value="虚热证"/>虚热证</label>
                                        <label><input name="xuzheng" type="radio" value="脾气虚证"/>脾气虚证</label>
                                        <br>
                                        <label>其他:<input type="text" id="qita_asthenic" name="qita_asthenic" value=""/></label>
                    
                                        <p><h5 style="color:blue">3、实证诊断:</h5>
                                        <label><input name="shizheng" type="radio" value="肝郁血热证"/>肝郁血热证</label>
                                        <label><input name="shizheng" type="radio" value="阳盛血热证"/>阳盛血热证</label>
                                        <label><input name="shizheng" type="radio" value="湿热证"/>湿热证</label>
                                        <label><input name="shizheng" type="radio" value="痰湿证"/>痰湿证</label>
                                        <label><input name="shizheng" type="radio" value="肝郁气滞证"/>肝郁气滞证</label>
                                        <label><input name="shizheng" type="radio" value="气滞血瘀证"/>气滞血瘀证</label>
                                        <label><input name="shizheng" type="radio" value="血寒证"/>血寒证</label>
                                        <label><input name="shizheng" type="radio" value="实热证"/>实热证</label>
                                        <br>
                                        <label>其他:<input type="text" id="qita_demonstration" name="qita_demonstration" value=""/></label>
                    
                                        <p><h5 style="color:blue">4、虚实夹杂诊断:</h5>
                                        <label><input name="xushi" type="radio" value="阴虚血热证"/>阴虚血热证</label>
                                        <br>
                                        <label>其他:<input type="text" id="qita_def_ex" name="qita_def_ex" value=""/></label>
                                        <hr>
                    
                                        <p><h4 style="color:#BC1717">二、西医诊断</h4>
                                        <label><input name="zigongchuxue" type="checkbox" value="true"/>排卵障碍性异常子宫出血</label>
                                        <br>
                                        <label>其他西医诊断:<input type="text" id="qita_west" name="qita_west" value=""/></label>
                                    </div>
                                </div>
                    </div>