<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息调查表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/css/jquery-ui-1.10.3.full.min.css" />

    <link rel="stylesheet" href="/public/css/ace.min.css">
    <link rel="stylesheet" href="/public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="/public/css/ace-skins.min.css">
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/js/bootstrap-datepicker.js"></script>
    <script src="/public/js/bootstrap-datepicker.zh-CN.js"></script>
    
    <script src="/public/js/ace-extra.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.validate.min.js"></script>

    <!-- 日期控件格式调整 -->
    <script src="/public/js/datepicker-options.js"></script>

    
</head>
<body style="font-family: PingFangSC-Light, Tahoma, Arial, SimSun, '宋体',sans-serif;background-color: rgba(255, 255, 255, 1);">
<script>
        function func(event){
            event.preventDefault();
        }
</script>

<!-- 日期自动填写 -->
<script>
    function my_date_default() {
        var myDate = new Date();
        var month = myDate.getMonth()+1;
        var date = myDate.getDate();
        if (date < 10) {
            date = '0' + date;
        } else {
            date = date;
        }
        if (month < 10) {
            var fulldate = myDate.getFullYear() + '-' + '0' + month + '-' + date
        } else {
            var fulldate = myDate.getFullYear() + '-' + month + '-' + date
        };
        $("#recdate").val(fulldate);
    }
    $(document).ready(function () {
        my_date_default();
    })
</script>
<!-- 日期自动填写 -->


<!-- 表单提交 -->
<script>
    // var tempstr;
    $(document).ready(function () {
        form_all();
        // $("#province option[value='"+result["nation"]+"']").prop("selected","selected");
        // $("#province option[value='北京']").prop("selected","selected");
        // $("#city option[value='朝阳区']").prop("selected","selected");
        $("#normal").hide();
        $("#abnormal").hide();

        $("#form-all").submit(function () {
            event.preventDefault();
            /* 出生年月 */
            var str = $("#birth").val();
            var year_month = str.split("-");
            // tempstr = str.split("-");
            $("#birth_year").val(year_month[0]);
            $("#birth_month").val(year_month[1]);
            /* 出生年月 */

            /* 住址 */
            $('#address').val( $('#province').val() + $('#city').val() + $('#adrs').val() );
            /* 住址 */
            
            var data={};
            var obj={"info":{},"summary":{},"history":{},"relevant":{},"cc":{},"cure":{},"results":{}};
            data.info     = $('#form-geninfo').serializeArray();
            data.summary  = $('#form-summary').serializeArray();
            data.history  = $('#form-history').serializeArray();
            data.relevant = $('#form-relevant').serializeArray();
            data.cc       = $('#form-cc').serializeArray();
            data.cure     = $('#form-cure').serializeArray();
            data.results  = $('#form-results').serializeArray();
            var data_keys = Object.keys(data);//data的键值列表
            for(var j=0; j < data_keys.length; j++) {
                for (var i = 0; i < data[data_keys[j]].length; i++) {
                    // console.log(data.info[i]['name']);
                    var name = data[data_keys[j]][i]['name'];
                    var value = data[data_keys[j]][i]['value'];
                    obj[data_keys[j]][name]=value;
                };
            }
            $.ajax({
                url: "/mobile",
                type: "POST",
                // dataType: "json",
                data: {all_data:JSON.stringify(obj)},
                // data: $('#geninfo-form').serializeArray(),
                success: function (result) {
                    if ( result.status==0 ) {
                        alert("请检查基本信息表");
                    } else {
                        alert(result.msg);
                        if (result.msg == "信息提交成功") {
                            $("#tijiao").attr("disabled","disabled")
                        }
                    }
                },
                error:  function (result) {
                    alert("保存失败");    
                }
            })  
            
            })
    
    })
</script>
<!-- 表单提交 -->

<!-- 表单验证 -->
<script>
    // $(document).ready(function () {
    function form_all() {
            $("#form-geninfo").validate({
            // debug:true,
            rules:{
                    owner:{
                        required:true,
                        // email:true
                    },
                    expert:{
                        required:true
                    },
                    name:{
                        required:true
                    },
                    telephone:{
                        required:true,
                        digits:true,
                        rangelength:[11,11]
                    },
                    birth:{
                        required:true,
                    },
                    province:{
                        required:true,
                    },
                    city:{
                        required:true,
                    },
                    entrance:{
                        required:true,
                    },
                },
            messages:{
                    owner:{required:"请填写该字段"},
                    name:{required:"请填写该字段"},
                    expert:{required:"请填写该字段"},
                    telephone:{
                        required:"请填写该字段",
                        rangelength:$.validator.format("电话号码长度为{0}位数字"),
                        digits:"不能填写非数字字符"        
                    },
                    birth:{
                        required:"请填写该字段",
                    },
                    province:{required:"请填写该字段"},
                    city:{required:"请填写该字段"},
                    entrance:{required:"请填写该字段"},
                },
            // submitHandler:function () {
            //     alert("这里");    
            // } 
            onfocusout: function(element) { $(element).valid(); }
        })
            $("#form-summary").validate({
            // debug:true,
            rules:{
                    owner_buguize:{
                        digits:true,
                        range:[0,9999],
                    },
                    owner_suoduan:{
                        digits:true,
                        range:[0,9999],
                    },
                    owner_yanchang:{
                        digits:true,
                        range:[0,9999],
                    },
                    owner_liangduo:{
                        digits:true,
                        range:[0,9999],
                    },
                    owner_pailuan:{
                        digits:true,
                        range:[0,9999],
                    },
                 
                },
            messages:{
                    owner_buguize:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    owner_suoduan:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    owner_yanchang:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    owner_liangduo:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    owner_pailuan:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    },
            // submitHandler:function () {
            //     alert("这里");    
            // } 
        })
            $("#form-history").validate({
            // debug:true,
            rules:{
                reducefat_persist:{
                        digits:true,
                        range:[0,9999],
                    }, 
                },
            messages:{
                reducefat_persist:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    
                    },
        })
            $("#form-results").validate({
            // debug:true,
            rules:{
                    last_result:{
                        digits:true,
                        range:[0,9999],
                    }, 
                    far_result:{
                        digits:true,
                        range:[0,9999],
                    }, 
                },
            messages:{
                    last_result:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    far_result:{
                        range:$.validator.format("数值范围必须在{0}-{1}之间"),
                        digits:"不能填写非数字字符"        
                    },
                    },
        })
        // return {a:a.errorList,b:b.errorList,c:c.errorList,d:d.errorList}
    };
    form_all();
    // });
</script>
<!-- 表单验证 -->

<!-- 患者病史 伴随症状 选择显示 -->
<script>
    function display_accompany () {
            var val = $('input[name="menstruation_is_accompany"]:checked').val();
            if (val=="true") {
                $('.accompany').show();
            } else {
                $('.accompany').hide();
                
                $("input[name='spirit_shenpi']").prop("checked",false);
                $("input[name='spirit_qiduan']").prop("checked",false);
                $("input[name='spirit_yiyu_m']").prop("checked",false);
                $("input[name='spirit_tanxi']").prop("checked",false);
                $("input[name='spirit_yinu']").prop("checked",false);
                $('#history_spirit_qita').val('');
                            
                $("input:checkbox[name='body_fat']").prop('checked',false);
                $("input:checkbox[name='body_thin']").prop('checked',false);
                $("input:checkbox[name='body_skin']").prop('checked',false);
                $("input:checkbox[name='body_cold']").prop('checked',false);
                $("input:checkbox[name='body_hot']").prop('checked',false);
                $("input:checkbox[name='body_leg']").prop('checked',false);
                $("input:checkbox[name='body_waist']").prop('checked',false);
                $('#body_qita').val('');

                $("input:checkbox[name='face_head_cangbai']").prop("checked",false);
                $("input:checkbox[name='face_head_huangbai']").prop("checked",false);
                $("input:checkbox[name='face_head_weihuang']").prop("checked",false);
                $("input:checkbox[name='face_head_huian']").prop("checked",false);
                $("input:checkbox[name='face_head_anban']").prop("checked",false);
                $("input:checkbox[name='face_head_zhizhong']").prop("checked",false);
                $("input:checkbox[name='face_head_chunhong']").prop("checked",false);

                $("input[name='face_head_kouku']").prop("checked",false);
                $("input[name='face_head_erming']").prop("checked",false);
                $("input[name='face_head_yanghua']").prop("checked",false);
                $('#face_head_qita').val('');
                            
                $("input[name='belly_fanmen']").prop("checked",false);
                $("input[name='belly_rufangzhangtong']").prop("checked",false);
                $("input[name='belly_xiongxiezhangtong']").prop("checked",false);
                $("input[name='belly_shaofuzhangtong']").prop("checked",false);
                $("input[name='belly_kongzhui']").prop("checked",false);
                $("input[name='belly_kongtong']").prop("checked",false);
                $("input[name='belly_citong']").prop("checked",false);
                $("input[name='belly_zhangtong']").prop("checked",false);
                $("input[name='belly_lengtong']").prop("checked",false);
                $("input[name='belly_yintong']").prop("checked",false);
                $("input[name='belly_juan']").prop("checked",false);
                $("input[name='belly_xian']").prop("checked",false);
                $("input[name='belly_deretongjian']").prop("checked",false);
                $("input[name='belly_tongjian']").prop("checked",false);
                $('#belly_qita').val('');
                            
                $("input[name='diet_exin']").prop("checked",false);
                $("input[name='diet_shishao']").prop("checked",false);
                $("input[name='diet_zhangman']").prop("checked",false);
                $("input[name='diet_bujia']").prop("checked",false);
                $("input[name='diet_lengyin']").prop("checked",false);
                $("input[name='diet_kouzao']").prop("checked",false);
                $('#history_diet_qita').val('');
                            
                $("input[name='sleep_shimian']").prop("checked",false);
                $("input[name='sleep_buning']").prop("checked",false);
                $("input[name='sleep_mengduo']").prop("checked",false);
                $('#history_sleep_qita').val('');
                            
                $("input:checkbox[name='erbian_zaojie']").prop('checked',false);
                $("input:checkbox[name='erbian_tangbo']").prop('checked',false);
                $("input:checkbox[name='erbian_pinshu']").prop('checked',false);
                $("input:checkbox[name='erbian_duanchi']").prop('checked',false);
                $("input:checkbox[name='erbian_qingchang']").prop('checked',false);
                $('#erbian_qita').val('');

            }
        
        }
</script>
<!-- 患者病史 伴随症状 选择显示 -->

<!-- 单选可以取消选中 -->
<script>
    $(document).ready(function () {
    $(':radio').mousedown(function(e){
        var $self = $(this);
        if( $self.is(':checked') ){
        var uncheck = function(){
          setTimeout(function(){$self.removeAttr('checked');},0);
        };
        var unbind = function(){
          $self.unbind('mouseup',up);
        };
        var up = function(){
          uncheck();
          unbind();
        };
        $self.bind('mouseup',up);
        $self.one('mouseout', unbind);
        }
    });
    })
</script>
<!-- 单选可以取消选中 -->

<!-- 辅助医生预加载地区 -->
<script>
    $(document).ready(function () {
            // 预加载地区
            $("#area").trigger("click");
            $("#area").removeAttr("onclick");
        });
</script>
<!-- 辅助医生预加载地区 -->

<!-- 函数get_area获取地区 -->
<script>
    function get_area () {
        $.ajax({
            url: "/mobile/area",
            type: "GET",
            // dataType: "json",
            // data: $('#geninfo-form').serializeArray(),
            success: function (result) {
            //    alert("数据："+result.area_data[0]["area"])
                var area=document.getElementById("area");
                // var index=area.selectedIndex;
                for (var i=0;i < result.area_length;i++) {
                    area[i+1]=new Option(result.area_data[i]["area"],result.area_data[i]["area"]);
                }
            },
            error:  function (result) {
                alert("错误");    
            }
        })
    }
</script>
<!-- 函数get_hospital获取医院 -->
<script> 
    function get_hospital () {
        $.ajax({
            url: "/mobile/hospital",
            type: "POST",
            // dataType: "json",
            data: {area:$('#area option:selected').val()},
            success: function (result) {
                // alert("数据："+result.area_data[0]["account_hospital"])
                var hospital=document.getElementById("hospital2");

                //地区更改后先清空 医院和医生,再重写医院
                $("#hospital2").empty();
                for (var i=0;i < result.hospital_length;i++) {
                    hospital[i+1]=new Option(result.hospital_data[i]["hospital"],result.hospital_data[i]["hospital"]);
                };
                $("#owner").empty();
            },
            error:  function (result) {
                alert("错误");    
            }
        })
    }
</script>
<!-- 函数get_owner获取账户 -->
<script>
    function get_owner () {
            $.ajax({
                url: "/mobile/owner",
                type: "POST",
                // dataType: "json",
                data: {hospital:$('#hospital2 option:selected').val()},
                success: function (result) {
                    var owner=document.getElementById("owner");
                    //医院更改后先清空 医生,再重写医生
                    $("#owner").empty();
                    for (var i=0;i < result.owner_length;i++) {
                        owner[i+1]=new Option(result.owner_data[i]["user_name"],result.owner_data[i]["id"]);
                    }
                },
                error:  function (result) {
                    alert("错误");    
                }
            })
    }
</script>

<style>
    .table>tbody>tr>td{
        vertical-align:middle;
        text-align: center;
    }
</style>

<div class="modal-content">
    <div class="modal-header no-padding">
        <div class="table-header center">
            信息调查表
        </div>
    </div>
</div>

<div class="tabbable">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#geninfo" data-toggle="tab" id="geninfo-tab">基本信息</a></li>
        <li><a href="#summary"  data-toggle="tab" id="summary-tab">病情概要</a></li>
        <li><a href="#history"  data-toggle="tab" id="history-tab" >患者病史</a></li>
        <li><a href="#relevant" data-toggle="tab" id="relevant-tab">相关检查</a></li>
        <li><a href="#cc"       data-toggle="tab" id="cc-tab"      >临床诊断</a></li>
        <li><a href="#cure"     data-toggle="tab" id="cure-tab"    >中西治疗</a></li>
        <li><a href="#results"  data-toggle="tab" id="results-tab" >疗效情况</a></li>
        <li><a href="#confirm"   data-toggle="tab" id="confirm-tab"  >确认提交</a></li>
        <!-- <li><a href="#confirm"   data-toggle="tab" id="confirm-tab" onclick="validate_info();">确认提交</a></li> -->
    </ul>

         <div id="myTabContent" class="tab-content">
            <!-- 基本信息 -->
            <div class="tab-pane fade in active" id="geninfo" method="POST"> 
                <form class="modal-body no-padding" id="form-geninfo">
                    <!-- <div class="col-xs-12 col-sm-12"> -->
                        <table class="table table-striped table-bordered table-hover">
                                <input class="form-control" id="address" name="address" type="hidden"/>
                                <!-- <input type="text" name="country_code" pattern="^[\w.\-]+@(?:[a-z0-9]+(?:-[a-z0-9]+)*\.)+[a-z]{2,3}$" title="请输入正确的邮箱" required/> -->
                                <tbody style="color:blue;font-size:15px;">
                                    <tr>
                                        <td style="text-align:left" class="blue">就诊日期</td>
                                        <td><input class="form-control datepicker ace" id="recdate" name="recdate" type="text"/></td>
                                        </tr>
                                    <tr>
                                        <td style="text-align:left" class="blue">辅助医生账号(地区、医院、账号)</td>
                                        <td>
                                            <div class="col-sm-3">
                                                <select id="area" name="area" class="form-control" onclick="get_area();" onchange="get_hospital();">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-sm-3">
                                                <select id="hospital2" name="hospital2" class="form-control" onchange="get_owner();">
                                                    <option value=""></option>
                                                </select>
                                            </div>

                                            <div class="col-sm-3">
                                                <select id="owner" name="owner" class="form-control" required>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                        </tr>
                                    

                                    <% include form_info1.ejs %>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left" class="blue">患者现住址</td>
                                        <td>
                                            <div class="col-sm-3">
                                                <select name="province" id="province" class="form-control" required>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select name="city" id="city" class="form-control" required>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="col-sm-5">
                                                <input class="form-control" id="adrs" name="" type="text" placeholder="请填写具体地址"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <% include form_info2.ejs %>
                        <hr>
                        <!-- </div>    -->
                    <!-- <button type="submit" class="btn btn-primary" id="tijiao">提交</button> -->
                </form>
            </div>
            <!-- 病情概要 -->
            <div class="tab-pane fade" id="summary">
                <form class="modal-body no-padding" id="form-summary">
                    <%include form_summary.ejs %>
                </form>
            </div>
            <!-- 患者病史 -->
            <div class="tab-pane fade" id="history">
                <form class="modal-body no-padding" id="form-history">
                    <%include form_history.ejs %>
                </form>
            </div>
            <!-- 相关检查 -->
            <div class="tab-pane fade" id="relevant">
                <form class="modal-body no-padding" id="form-relevant">
                    <%include form_relevant.ejs %>
                </form>
            </div>
            <!-- 临床诊断 -->
            <div class="tab-pane fade" id="cc">
                <form class="modal-body no-padding" id="form-cc">
                    <%include form_cc.ejs %>
                </form>    
            </div>
            <!-- 中西治疗 -->
            <div class="tab-pane fade" id="cure">
                <form class="modal-body no-padding" id="form-cure">
                    <%include form_cure.ejs %>
                </form>                
            </div>
            <!-- 疗效情况 -->
            <div class="tab-pane fade" id="results">
                <form class="modal-body no-padding" id="form-results">
                    <%include form_results.ejs %>
                </form>                
            </div>

            <div class="tab-pane fade" id="confirm">
                <form class="modal-body no-padding" id="form-all">
                <button type="submit" class="btn btn-primary" id="tijiao" onclick="form_all()">提交</button>
                </form>
            </div>
        </div>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>

<script src="/public/js/Province_city.js"></script>
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/public/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<!-- <script src="assets/js/jquery-ui.custom.min.js"></script> -->
<!-- <script src="assets/js/jquery.ui.touch-punch.min.js"></script> -->
<script src="/public/js/typeahead-bs2.min.js"></script>
<script src="/public/js/ace-elements.min.js"></script>
<script src="/public/js/ace.min.js"></script>

<!-- <script src="/public/js/jquery.inputlimiter.1.3.1.min.js"></script> -->
<script src="/public/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
            
        $.mask.definitions['~'] = '[+-]';
        $('.input-mask-date').mask('99/99/9999');
        $('.input-mask-birth').mask('9999-99');
        $('.input-mask-phone').mask('(999)999-9999');
        $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
        $(".input-mask-product").mask("a*-999-a999", {
            placeholder: " ",
            completed: function () {
                alert("You typed the following: " + this.val());
            }
        });

    });
</script>

</body>
</html>