<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>数据采集</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="../public/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../public/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../public/css/chosen.css" />
    <!-- <link rel="stylesheet" href="../public/css/datepicker.css" /> -->
    <link rel="stylesheet" href="../public/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="../public/css/daterangepicker.css" />
    <link rel="stylesheet" href="../public/css/colorpicker.css" />

    <link rel="stylesheet" href="../public/css/ace.min.css">
    <link rel="stylesheet" href="../public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="../public/css/ace-skins.min.css">

    <link rel="stylesheet" href="../public/css/bootstrap-datepicker.css">
    <script src="../public/js/ace-extra.min.js"></script>
    <script src="../public/javascripts/jquery.min.js"></script>
    <script src="../public/js/bootstrap-datepicker.js"></script>
    <script src="../public/js/bootstrap-datepicker.zh-CN.js"></script>
    <!-- 日期控件格式调整 -->
    <script src="../public/js/datepicker-options.js"></script>
    <style>
        .ui-datepicker-calendar {
			display: none;
		}
    </style>
    <!-- 表格样式 -->
    <style>
        .table>tbody>tr>td{
            vertical-align:middle;
            text-align: center;
        }
    </style>
    <!-- 表格样式 -->

    <!-- 浏览器类型判断 -->
    <!-- <script type="text/javascript">
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        var s;
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;

        //测试
        if (Sys.ie) document.write('IE: ' + Sys.ie);
        if (Sys.firefox) document.write('Firefox: ' + Sys.firefox);
        if (Sys.chrome) document.write('Chrome: ' + Sys.chrome);
        if (Sys.opera) document.write('Opera: ' + Sys.opera);
        if (Sys.safari) document.write('Safari: ' + Sys.safari);
    </script> --> 
    <!-- <script>
        function getExploreName(){
            var userAgent = navigator.userAgent;
            if(userAgent.indexOf("Opera") > -1 || userAgent.indexOf("OPR") > -1){
              return 'Opera';
            }else if(userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1){
              return 'IE';
            }else if(userAgent.indexOf("Edge") > -1){
              return 'Edge';
            }else if(userAgent.indexOf("Firefox") > -1){
              return 'Firefox';
            }else if(userAgent.indexOf("Safari") > -1 && userAgent.indexOf("Chrome") == -1){
              return 'Safari';
            }else if(userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1){
              return 'Chrome';
            }else if(!!window.ActiveXObject || "ActiveXObject" in window){
              return 'IE>=11';
            }else{
              return 'Unkonwn';
            }
        }
    </script> -->
    <!-- 浏览器类型判断 -->
</head>

<body class="no-skin" style="font-family: PingFangSC-Light, Tahoma, Arial, SimSun, Microsoft Yahei,sans-serif;">

<!-- 单选可以取消选中 -->
<script>
    $(document).ready(function () {
        $(':radio').mousedown(function(e){
            var $self = $(this);
            if( $self.is(':checked') ){
            var uncheck = function(){
              setTimeout(function(){$self.removeAttr('checked');},0);
            };
            var unbind = function(){
              $self.unbind('mouseup',up);
            };
            var up = function(){
              uncheck();
              unbind();
            };
            $self.bind('mouseup',up);
            $self.one('mouseout', unbind);
            }
        });
        })
</script>
<!-- 单选可以取消选中 -->

<!-- 日期自动填写 -->
<script>
        function my_date_default() {
            var myDate = new Date();
            var month = myDate.getMonth()+1;
            var date = myDate.getDate();
            if (date < 10) {
                date = '0' + date;
            } else {
                date = date;
            }
            if (month < 10) {
                var fulldate = myDate.getFullYear() + '-' + '0' + month + '-' + date
            } else {
                var fulldate = myDate.getFullYear() + '-' + month + '-' + date
            };
            $("#recdate").val(fulldate);
        }
        $(document).ready(function () {
            my_date_default();
        })
</script>
<!-- 日期自动填写 -->


<script>
    $(document).ready(function () {
        my_date_default();
        
        $("#form1").submit(function () {
            var str = $("#birth").val();
            year_month = str.split("-");
            $("#birth_year").val(year_month[0]);
            $("#birth_month").val(year_month[1]);

            $('#address').val( $('#province').val() + $('#city').val() + $('#adrs').val() );
            $.ajax({
                url: "/prj001/datainputoptr", //用来处理ajax请求的函数的所在网址路径
                method: "POST",
                dataType: "json",
                data: {
                    formdata: $('#form1').serialize()
                },
                success: function (data) {
                    console.log("ajax result:", data);
                    if (data.status == 1) { //result.resultCode == 201,result.status == 1
                        alert("录入成功");
                        window.location.href = '/prj001'; //    请求成功后跳转到项目主页
                    } else {
                        if (data.status == 0) {
                            alert(data.msg);
                        }
                    }
                },
                error: function () {
                    alert("请重新录入");
                    // window.location.href = '/prj001/datainput';
                }
            });
        })

        
    })
</script>
    <%include header.ejs %>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

        <div class="main-container-inner">
            <button type="button" class="menu-toggler pull-left" id="menu-toggler" data-target="#sidebar" 
                style="padding-top: 3px;padding-bottom: 3px">
                <span style="color:white">菜单</span>
                </button>

            <%include sidebar.ejs %>

            <div class="main-content"> 
                    <!-- 路径导航 -->
                    <div class="breadcrumbs" id="breadcrumbs">
                            <script type="text/javascript">
                                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                            </script>
                        
                            <ul class="breadcrumb">
                                <li>
                                    <i class="ace-icon fa fa-home home-icon"></i>
                                    <a href="/home">首页</a >
                                </li>
                        
                                <li>
                                    <a href="#">数据采集</a >
                                </li>
                                <li class="active">当前页</li>
                            </ul>
                    </div>
                    <!-- 路径导航 -->
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">

                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="pink">
                                    <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
                                    <a class="green"> 1) 创建基本信息</a >
                                </h4>
                                <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                    <li>
                                        <i class="icon-hand-right blue"></i>
                                        录入病例基本信息后,
                                    </li>

                                    <li>
                                        <i class="icon-hand-right blue"></i>
                                        请在数据展示页面进行数据操作，
                                    </li>

                                    <li>
                                        <i class="icon-hand-right blue"></i>
                                        以录入该病例的其他信息。
                                    </li>
                                    <li>
                                            <button class="btn btn-sm btn-info no-radius btn_show_info_table" data-toggle="modal" data-target="#modal-table" onclick="dateStyle()"> 点我创建</button>
                                            <style>
                                                .btn_show_info_table{
                                                    margin: 10px 0 0 20px;
                                                }
                                            </style>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <h4 class="pink">
                                    <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
                                    <a href="#" role="button" class="green" data-toggle="modal"> 2) 患者扫码自行填写数据 </a>
                                </h4>
                                <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                    <li>
                                        <i class="icon-hand-right blue"></i>
                                        患者扫描下面的二维码,在医生指导下录入数据;
                                    </li>

                                    <li>
                                        <i class="icon-hand-right blue"></i>
                                        医生登录系统，审核该数据，补充其他信息;
                                    </li>
                                </ul>
								
                                <div >
                                    <img src="/public/avatars/test_env.png" style="width: 195px;height: 195px;" alt="">
                                    <img src="/public/avatars/formal_env.png" style="width: 195px;height: 195px;" alt="">
                                </div>

                            </div>
                        </div>

                        <hr>
                        <div id="modal-table" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            基本信息
                                        </div>
                                    </div>

                                    <form class="modal-body no-padding" id="form1"  onsubmit="return false" method="POST">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <input class="form-control" id="address" name="address" type="hidden"/>
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <tbody style="color:blue;font-size:15px;">
                                                            <tr>
                                                                <td style="text-align:left;" class="blue">就诊日期</td>
                                                                <td><input id="recdate" name="recdate" type="text" class="form-control datepicker ace"/></td>
                                                            </tr>
                                                            
                                                            <% include project001/form_info1.ejs %>
                                                            <tr>
                                                                <td style="text-align:left;" class="blue">患者现住址</td>
                                                                <td>
                                                                    <div class="col-sm-3">
                                                                        <select name="" id="province" class="form-control" required>
                                                                            <option value=""></option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <select name="" id="city" class="form-control">
                                                                            <option value=""></option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <input class="form-control" id="adrs" name="" type="text" placeholder="请填写具体地址"/>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <% include project001/form_info2.ejs %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" id="tijiaoBtn">提交</button>
                                        </div>
                                    </form>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>


                        <!-- <h4 class="pink">
                            <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
                            <a href="#" role="button" class="green" data-toggle="modal"> 3) 通过Excel模板创建案例 </a>
                        </h4> -->
                        <!-- <div class="row">
                            <div class="col-sm-5">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h5>请点击choose按钮选择要上传的excel数据文件</h5>

                                                <span class="widget-toolbar">
                                                    <a href="#" data-action="collapse">
                                                        <i class="icon-chevron-up"></i>
                                                    </a>

                                                    <a href="#" data-action="close">
                                                        <i class="icon-remove"></i>
                                                    </a>
                                                </span>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <form id="excelform" action="/prj001/file_upload" method="post" enctype="multipart/form-data">
                                                <fieldset>
                                                    <label>案例名称：</label>
                                                    <input type="text" value="excel数据" placeholder="excel数据&hellip;" />
                                                    <span class="help-block"></span>
                                                </fieldset>
                                                <input type="file" name="xlsFileTrans" id="id-input-file-2"/>
                                                <br/>

                                                <div class="center">
                                                    <input id="upload-button" type="submit" value="提交"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="pager">
                            <li class="previous">
                               <a href="http://47.94.22.221/Prj001%E6%8E%92%E5%8D%B5%E9%9A%9C%E7%A2%8D%E6%80%A7%E5%BC%82%E5%B8%B8%E5%AD%90%E5%AE%AB%E5%87%BA%E8%A1%80%E9%97%AE%E5%8D%B7_%E6%A8%A1%E6%9D%BF.xlsx">模板文件下载 →</a>
                            </li>
                        </ul> -->

                    </div>
                </div>
            </div>
        </div>

        </div><!-- /.main-container-inner -->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>
    <script src="../public/js/Province_city.js"></script>
    <script src="/public/javascripts/jquery.form.min.js"></script>

    <script type="text/javascript">
        window.jQuery || document.write("<script src='../public/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='../public/js/jquery.mobile.custom.min.js'>" + "<" +
            "/script>");
    </script>
    <script src="../public/bootstrap3/js/bootstrap.min.js"></script>
    <!-- <script src="../public/js/bootstrap.min.js"></script> -->
    <script src="../public/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="../public/js/jquery.dataTables.min.js"></script>
    <script src="../public/js/jquery.dataTables.bootstrap.js"></script>

    <script src="../public/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../public/js/jquery.ui.touch-punch.min.js"></script>
    <script src="../public/js/chosen.jquery.min.js"></script>
    <script src="../public/js/fuelux/fuelux.spinner.min.js"></script>
    
    <script src="../public/js/date-time/bootstrap-timepicker.min.js"></script>
    <script src="../public/js/date-time/moment.min.js"></script>
    <script src="../public/js/date-time/daterangepicker.min.js"></script>
    <script src="../public/js/bootstrap-colorpicker.min.js"></script>
    <script src="../public/js/jquery.knob.min.js"></script>
    <script src="../public/js/jquery.autosize.min.js"></script>
    <script src="../public/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="../public/js/jquery.maskedinput.min.js"></script>
    <script src="../public/js/bootstrap-tag.min.js"></script>
    <script src="../public/js/ace-elements.min.js"></script>
    <script src="../public/js/ace.min.js"></script>



 
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
    </script>
     
</body>

</html>