<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewsport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <link rel="stylesheet" href="/public/css/ace.min.css">
    <link rel="stylesheet" href="/public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="/public/css/ace-skins.min.css">
    <script src="/public/js/ace-extra.min.js"></script>
    <script src="/public/javascripts/jquery.min.js"></script>
</head>
<style>
    .page-content1 {
        margin: 0;
        padding: 8px 20px 24px;
    }
</style>
<body>
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="icon-leaf">
                            中医妇科临床流调数据中心
                        </i>
                    </small>
                </a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
        $("#userLogin").click(function () {
            $.ajax({
                url: "/users/login",//路由，用来处理ajax请求的函数的所在地址
                type: "POST",
                data: {
                    email: $("#id_email").val(),    //    用户邮箱和密码
                    pass: $("#id_password").val()
                },
                success: function (data) {
                    if (data.status == 1) {
                        window.location.href = '/home';    //    请求成功后跳转到你的主页
                    } else {
                        alert(data.msg);
                    }

                },
                error: function () {
                    alert("密码或账号错误");
                    window.location.href = '/';
                }
            });
        });
    });
</script>
   <div class="page-content1"> 
	<div class="row">
        <div class="col-xs-6">
    <table>
        <tbody>
            <tr>
                <th><label for="id_email">电子邮箱:</label></th>
                <td><input type="text" name="email" maxlength="50" required="" id="id_email"></td>
            </tr>
            <tr>
                <th><label for="id_password">密码:</label></th>
                <td><input type="password" name="password" required="" id="id_password"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" id="userLogin">登录</button>
        </div>
    </div>
    <div class="main-content">
        <div class="row">
                    <div class="col-xs-10">

                        <div class="error-container">
                            <div class="well">
                                <h3 class="lighter smaller">
                                    使用
                                    <i class="icon-wrench icon-animated-wrench bigger-125"></i>
                                    提示!
                                </h3>

                                <div class="space"></div>

                                <div>
                                    <h4 class="lighter smaller">为了保证用户使用功能正常，要求使用如下浏览器:</h4>

                                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                        <li>
                                            <i class="icon-hand-right blue"></i>
                                            谷歌浏览器
                                            <a href="https://www.google.cn/chrome/index.html">https://www.google.cn/chrome/index.html</a>
                                        </li>

                                        <li>
                                            <i class="icon-hand-right blue"></i>
                                            火狐浏览器
                                            <a href="http://www.firefox.com.cn/download/">http://www.firefox.com.cn/download/</a>
                                        </li>
                                        <li>
                                            <i class="icon-hand-right blue"></i>
                                            暂不支持IE及其它浏览器
                                        </li>
                                    </ul>
                                </div>

                                <hr />
                            </div>
                        </div>

                    </div>
                </div>

        <div class="row">
            <div class="col-xs-10" style="text-align:center;">
                <div class="bigger-150">本项目由中华中医药学会妇科分会发起，
                <a href="http://www.handian.com">北京汉典制药有限公司</a>
                <sup>®</sup>
                支持
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/public/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/public/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/typeahead-bs2.min.js"></script>

    <script src="/public/js/ace-elements.min.js"></script>
    <script src="/public/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
    </script>

</body>

</html>